<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component-7</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="flex justify-center h-[600px] mt-[150px] max-[320px]:hidden max-[375px]:hidden max-[540px]:hidden">
        <div class="w-full flex">
            <div class="w-1/2 mr-24">
                <div class="text-2xl text-gray-600 mt-[100px]">
                    <p>999 $ for person - 4 Days $ 6 nights</p>
                </div>
                <div class="h-[200px] mt-[10px] font-semibold flex items-center font-[Lora]">
                    <div class="text-5xl">Discount</div>
                    <div class="text-6xl bg-[#ecb610] mx-5 text-white font-semibold rounded-[80%] h-[100px] px-[30px] items-center flex">
                        10 - 35%
                    </div>
                    <div class="text-5xl">off</div>
                </div>
                <div class="text-xl text-gray-400 tracking-wider mt-7">
                    <div>Discover amazing destinations for less! Enjoy a limited-time</div>
                    <div>10-35% discount on all bookings at our trusted travel agency</div>
                </div>
                <div class="border border-black rounded-xl flex items-center justify-center px-[10px] py-[15px] w-[300px] mt-[50px]">
                    <button class="text-lg">View promotional tour</button>
                </div>
            </div>
            <div class="w-1/2 relative z-10 ">
                <div class="h-[500px] bg-gray-50 w-[380px] ml-[50px] mt-[80px] rounded-2xl shadow-lg shadow-gray-300">
                    <div class="rounded-xl">
                        <img src="../GoTour/second.jpg" alt="" class="object-cover rounded-2xl p-[10px]">
                    </div>
                    <div class="mx-[50px]">
                        <div class="font-semibold text-lg font-[Lora] ">Rome,Italy - All Stunning Places</div>
                        <div class="h-[2px] bg-gray-300 mt-5 mr-[10px]"></div>
                        <div class="flex justify-between mt-4 items-center">
                            <div class="text-gray-500 font-light text-sm ">999 $ for person - 4 Days$ 6 nights</div>
                            <div class="text-[#ecb609] text-lg font-bold">$199</div>
                        </div>
                        <div class="flex items-center gap-2 mt-8">
                            <div>
                                <div class="rounded-full h-[40px] w-[40px] bg-gray-300 flex items-center justify-center">
                                    <img width="20" height="20" src="https://img.icons8.com/material/24/000000/leaf.png" alt="leaf" />
                                </div>
                            </div>
                            <div>
                                <div class="rounded-full h-[40px] w-[40px] bg-gray-300 flex items-center justify-center">
                                    <img width="20" height="20" src="https://img.icons8.com/windows/32/000000/chart-bar.png" alt="chart-bar"/>
                                </div>
                            </div>
                            <div class="rounded-full h-[40px] w-[40px] bg-gray-300 flex items-center justify-center">
                                <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/000000/filled-sent.png" alt="filled-sent"/>
                            </div>
                        </div>
                        <div class="flex  items-center mt-6">
                            <div class="flex items-center">
                                <img width="25" height="25" src="https://img.icons8.com/badges/48/000000/3-star-hotel.png" alt="3-star-hotel"/>
                            </div>
                            <div class="flex justify-between items-center ml-2 w-full">
                                <div class="text-lg text-gray-500 font-semibold">55 people going</div>
                                <img width="30" height="30" src="https://img.icons8.com/sf-regular/48/FAB005/like.png" alt="like"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute z-[2] bg-gray-50 h-[250px] w-[220px] top-0 left-[45%] rounded-xl  shadow-gray-300 shadow-lg">
                    <div class="rounded-xl">
                        <img src="../GoTour/second.jpg" alt="" class="object-cover rounded-2xl p-[7px] h-[150px] w-full">
                    </div>
                    <div class="ml-3 -mt-1 text-gray-400 text-md">Onging</div>
                    <div class="ml-3 font-semibold text-xl">Trip to Paris,France</div>
                    <div class="flex ml-3 items-center text-md">
                        <div class="text-red-500 mr-1">90%</div>
                        <div>completed</div>
                    </div>
                    <div class="ml-3 mt-1">
                        <span class="bg-gray-300   block h-[6px] w-[200px] rounded-full mb-3"> 
                            <span class=" w-[150px] h-[6px] block bg-red-500 rounded-l-full mb-3"></span> 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</body>
</html>