<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component-4</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="h-[700px] mx-[200px] mt-0 relative z-10 max-[375px]:w-[calc(100%-20px)] max-[375px]:m-0 max-[375px]:p-0
    max-[425px]:w-[calc(100%-20px)] max-[425px]:m-0 max-[425px]:p-0 ">
        <div class="flex ">
            <div class="w-full mr-3">
                <div class="h-[400px]  flex justify-center  float-left text-left mt-[100px] max-[375px]:w-[calc(100%-20px)] max-[375px]:mt-24 max-[375px]:pl-8 max-[425px]:mt-24 max-[425px]:pl-8">
                    <div class="font-bold">
                        <div class="text-[#ffc718] mb-1 pb-1 font-[Lora]">BEST DESTINATIONS AROUND THE WORLD</div>
                        <div class="absolute z-0">
                            <img src="../GoTour/wepik-export-20240202084844n196.png" alt="" class="h-[150px] w-[300px] mt-28 ml-[195px] -hue-rotate-[40deg] max-[375px]:hidden max-[425px]:hidden">
                        </div>
                        <div class="text-6xl font-bold font-[Lora] tracking-normal whitespace-nowrap max-[375px]:text-4xl max-[375px]:mt-12
                        max-[425px]:text-4xl max-[425px]:mt-12">
                            <div class="flex mb-2">It is better to <img src="../GoTour/icons8-sweat-droplets-48.png" alt="" class="h-[35px] -ml-2 mt-1 -rotate-45 max-[375px]:hidden max-[425px]:hidden"></div>
                            <div class="mb-2">explore well than to</div>
                            <div class="mb-2 absolute z-[1]">reach a destination
                            </div>
                        </div>
                        <div class="mt-24 font-light text-gray-400 text-md max-[375px]:text-lg max-[375px]:font-bold max-[425px]:text-lg max-[425px]:font-bold">                                    
                            <div>Discover the world with our trusted travl agency. Unforgettable experiences <br class="max-[375px]:hidden max-[425px]:hidden"> await. Start your dream vaction today!</div>
                        </div>
                        <div class="h-[80px] w-[299px] mt-14 flex justify-center items-center ">
                            <div class="bg-[#ffc718] h-[45px] flex justify-center items-center text-sm rounded-md max-[375px]:p-[30px] max-[375px]:text-2xl  max-[375px]:-ml-[80px] max-[425px]:p-[30px] max-[425px]:text-2xl max-[425px]:-ml-[50px]">
                                <button class="px-[25px]">Plan a Trip</button>
                            </div>
                            <div class="bg-gray-600 h-[45px] w-[45px] rounded-full flex justify-center items-center ml-4 max-[375px]:hidden max-[425px]:hidden">
                                <img src="../GoTour/download (67).svg" alt="" class="h-9 w-9 ml-2 ">
                            </div>
                            <div class="font-light text-slate-400 ml-3 max-[375px]:hidden max-[425px]:hidden">Play for Demo</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full relative max-[375px]:w-[calc(100%-20px)] max-[375px]:m-0 max-[375px]:p-0 max-[425px]:m-0 max-[425px]:p-0">
                <div class="h-full w-full flex justify-center rounded-full my-16">
                    <div class="h-[500px] w-full flex justify-center items-center">
                        <div class="h-[500px] w-[500px] flex justify-center items-center bg-gradient-to-br from-yellow-300 to-orange-500 rounded-full shadow-slate-300 shadow-xl max-[375px]:w-[calc(100%-20px)] max-[375px]:h-[calc(100%-20px)] max-[375px]:m-0 max-[375px]:p-0">
                            <div class=" w-full overflow-hidden rounded-b-full mb-12 max-[375px]:w-[calc(100%-3px)] max-[375px]:h-[calc(100%-3px)] max-[375px]:m-0 max-[375px]:p-0 ">
                                <img src="../GoTour/ee.png" alt="" class="h-[550px] w-[650px] object-cover">
                            </div>
                            <div class="absolute z-[2] rounded-full mt-[350px] mr-[350px] shadow-lg shadow-slate-200 max-[375px]:hidden max-[425px]:hidden">
                                <img src="../GoTour/portrait-cheerful-young-tourist-guy-with-bag-binoculars-isolated-yellow-studio-wall.jpg" alt="" class="rounded-full h-[180px] w-[180px] object-cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>