<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component-4</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="max-[375px]:m-0 max-[375px]:w-[887px] max-[425px]:m-0 max-[425px]:w-[887px] max-[375px]:px-[50px] max-[425px]:px-[50px] max-[375px]:mb-[50px] max-[425px]:mb-[50px]">
        <div class="grid grid-cols-4 relative z-10 max-[375px]:flex max-[425px]:flex max-[375px]:justify-around max-[375px]:gap-3 max-[425px]:gap-5 max-[768px]:flex max-[768px]:gap-5 max-[1024px]:gap-5 max-[1024px]:flex max-[1440px]:gap-5 max-[1440px]:flex">
            <div class="h-[320px] w-[320px] bg-[#fcd6cb] absolute -z-[1] rotate-[5deg] rounded-md  max-[768px]:hidden"></div>
            <div class="h-[320px] w-[320px] bg-white border-2 border-gray-200 rounded-md shadow-gray-500 pl-3 max-[375px]:h-[220px] max-[425px]:h-[220px] ">
                <div class="h-[150px] w-[150px] mt-[10px] max-[375px]:ml-[20px] max-[425px]:ml-[20px] max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">
                    <img src="../../GoTour/tree.png" alt="" class="max-[375px]:h-[calc(100%-40px)] max-[375px]:w-[calc(100%-40px)] max-[425px]:w-[calc(100%-20px)] max-[425px]:h-[calc(100%-20px)]">
                </div>
                <div class="font-bold text-2xl ml-4 -mt-[8px] max-[375px]:text-lg max-[375px]:m-0 max-[375px]:ml-2 max-[425px]:text-lg max-[425px]:m-0 max-[425px]:ml-2 max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">Luxury Getawyas</div>
                <div class="text-slate-400 ml-4 mt-1 max-[767px]:hidden">
                    <div>This category caters to travelers</div>
                    <div>seeking rich and lavish</div>
                    <div>experiences.</div>
                </div>
            </div>
            <div class="h-[320px] w-[320px] bg-white border-2 border-gray-200 rounded-md shadow-gray-500 max-[375px]:h-[220px] max-[425px]:h-[220px]">
                <div class="h-[150px] w-[150px] mt-[10px] max-[375px]:ml-[20px] max-[425px]:ml-[20px] max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">
                    <img src="../../GoTour/family.jpg" alt="" class="max-[375px]:h-[calc(100%-40px)] max-[375px]:w-[calc(100%-40px)] max-[425px]:w-[calc(100%-30px)] max-[425px]:h-[calc(100%-30px)]">
                </div>
                <div class="font-bold text-2xl ml-4 -mt-[8px] max-[375px]:text-lg max-[375px]:m-0 max-[375px]:ml-2 max-[425px]:text-lg max-[425px]:m-0 max-[425px]:ml-2 max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">Family Adventures</div>
                <div class="text-slate-400 ml-4 mt-1 max-[767px]:hidden">
                    <div>Desigend for families, this</div>
                    <div>category of activites is suitable</div>
                    <div>for all ages.</div>
                </div>
            </div>
            <div class="h-[320px] w-[320px] bg-white border-2 border-gray-200 rounded-md shadow-gray-500 max-[375px]:h-[220px] max-[425px]:h-[220px] max-[426px]:hidden">
                <div class="h-[150px] w-[150px] mt-[10px] max-[375px]:ml-[20px] max-[425px]:ml-[20px] max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">
                    <img src="../GoTour/beach.jpg" alt="" class="max-[375px]:h-[calc(100%-40px)] max-[375px]:w-[calc(100%-40px)] max-[425px]:w-[calc(100%-30px)] max-[425px]:h-[calc(100%-30px)]">
                </div>
                <div class="font-bold text-2xl ml-4 -mt-[8px] max-[375px]:text-lg max-[375px]:m-0 max-[375px]:ml-2 max-[425px]:text-lg max-[425px]:m-0 max-[425px]:ml-2 max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">Solo Travel Experiences</div>
                <div class="text-slate-400 ml-4 mt-1 max-[767px]:hidden">
                    <div>This category is  designed for solo</div>
                    <div>travelers seeking independence</div>
                    <div>and self-discovery.</div>
                </div>
            </div>
            <div class="h-[320px] w-[320px] bg-white border-2 border-gray-200 rounded-md shadow-gray-500 max-[375px]:h-[220px] max-[425px]:h-[220px]">
                <div class="h-[150px] w-[150px] mt-[10px] max-[375px]:ml-[20px] max-[425px]:ml-[20px] max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">
                    <img src="../GoTour/bulding.jpg" alt="" class="max-[375px]:h-[calc(100%-40px)] max-[375px]:w-[calc(100%-40px)] max-[425px]:w-[calc(100%-30px)] max-[425px]:h-[calc(100%-30px)]">
                </div>
                <div class="font-bold text-2xl ml-4 -mt-[8px] max-[375px]:text-lg max-[375px]:m-0 max-[375px]:ml-2 max-[425px]:text-lg max-[425px]:m-0 max-[425px]:ml-2 max-[375px]:flex max-[375px]:justify-center max-[425px]:flex max-[425px]:justify-center">Culture & Heritage Tour</div>
                <div class="text-slate-400 ml-4 mt-1 max-[767px]:hidden">
                    <div>This category caters to travelers</div>
                    <div>interested in immersing themselves in</div>
                    <div>different cultures.</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>